animationChallenges.xcodeproj/project.xcworkspace/xcuserdata/
animationChallenges.xcodeproj/project.xcworkspace/xcuserdata/andrew.xcuserdatad/UserInterfaceState.xcuserstate
animationChallenges.xcodeproj/xcuserdata/andrew.xcuserdatad/xcdebugger/
